let config = {}

config.name = "My Name"
config.email = "my@email.address"
config.mysql = {}
config.mysql.host = '192.168.4.228'
config.mysql.user = 'invoices'
config.mysql.password = 'password'
config.mysql.database = 'invoices'

module.exports = config
