body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#errors {
	padding: 2em;
	border: 3px solid red;
	display: none;
}

#invoiceTable {
	font-family: Consolas, Monaco, monospace;
	white-space: pre;
}